<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.core.Gesture"
      version="0.1.0">

    <name>Gesture</name>
	
	<!--
    <dependency id="org.apache.cordova.core.file" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-file" commit="master" subdir="/*" />
    -->
	
    <js-module src="www/gesture.js" name="Gesture">
        <clobbers target="cordova.gesture" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Gesture" >
                <param name="android-package" value="org.apache.cordova.core"/>
            </feature>
        </config-file>

        <source-file src="src/android/Gesture.java" target-dir="src/org/apache/cordova/core" />
		<source-file src="src/android/TapListener.java" target-dir="src/org/apache/cordova/core" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="Gesture">
                <param name="ios-package" value="CDVGesture" /> 
            </feature>
        </config-file>
        <header-file src="src/ios/CDVGesture.h" />
        <source-file src="src/ios/CDVGesture.m" />
        <resource-file src="src/ios/CDVGesture.bundle" />
    </platform>
        
</plugin>
